doctype html
head
  meta(charset='utf-8')
  title RecipeBook
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='stylesheets/myStyles.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  script(src='https://www.gstatic.com/firebasejs/4.11.0/firebase.js')
  style.
  style.
nav.navbar.navbar-inverse
  .container-fluid
    .navbr-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #myNavbar.collapse.navbar-collapse
    ul.nav.navbar-nav.navbar-left
      li
        a(href='/') Home
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/favourite') My Recipes
      li.active
        a(href='/discover') Weekly Recipes
.container.text-center
  h2 Hot Recipes
  .row
    .col-sm-4
      img#icon(src='img/food.jpeg', href='virackchhom.com')
      h4 Name: Chicken Breast with peppers
      h5 Ingredients: Chicken Breast, lime, red peppers
      h5 Steps: 1.preheat oven to 500 F 2. Season chicken
    .col-sm-4
      img#icon(src='img/food2.jpg')
      h4 Name: Classic Taco
      h5 Ingredients: Ground beef, Tomato, lettuce...
      h5 Steps: 1.Cook ground beef 2. Season beef
    .col-sm-4
      img#icon(src='img/food3.jpg')
      h4 Name: New York style Burgers and fries
      h5 Ingredients: Beef patty, potatoes, cheese...
      h5 Steps: 1.preheat pan 2. Cut onions to thin slice
  .row
    .col-sm-4
      img#icon(src='img/food4.jpg')
      h4 Name: Strawberry Pancakes
      h5 Ingredients: Strawberries, Pancake batter...
      h5 Steps: 1.preheat pan 2. Mix batter...
    .col-sm-4
      img#icon(src='img/food5.jpg')
      h4 Name: Thai Springrolls
      h5 Ingredients: Ground beef, Lettuce...
      h5 Steps: 1.Cook ground beef 2. Season beef with salt...
    .col-sm-4
      img#icon(src='img/food6.jpg')
      h4 Name: New York style Nachos
      h5 Ingredients: Nacho chips, cheese, green olives...
      h5 Steps: 1.Layout nachos 2. cover in cheese and...
  .row
    .col-sm-4
      img#icon(src='img/food7.jpg')
      h4 Name: Classic Pizza
      h5 Ingredients: Flour, pepperoni, vegetables...
      h5 Steps: 1.preheat oven to 500 F 2. rollout dough
    .col-sm-4
      img#icon(src='img/food8.jpg')
      h4 Name: Breakfast eggs, bacons, and pancakes
      h5 Ingredients: Eggs, Bacons, fruits...
      h5 Steps: 1.Cook eggs and bacon 2. chop fruits, fry pankcakes...
    .col-sm-4
      img#icon(src='img/food9.jpg')
      h4 Name: New York style Omlets
      h5 Ingredients: Eggs, Ham, cheese...
      h5 Steps: 1. cut up ham 2. cut cheese, fry up the eggs...
