doctype html
head
  title RecipeBook
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='../stylesheets/myStyles.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  script(src='https://www.gstatic.com/firebasejs/4.11.0/firebase.js')
  //
    code to test for input and display
nav.navbar.navbar-inverse
  .container-fluid
    .navbr-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li.active
          a(href='/main') Home
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/favourite') My Recipes
        li
          a(href='/discover') Weekly Recipes
        li
          a(href='/login') Login
        li
          a(href='/signup') Sign Up
//always set images for the slider to be 1826 by 863
#myCarousel.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#myCarousel', data-slide-to='0')
    li(data-target='#myCarousel', data-slide-to='1')
    li(data-target='#myCarousel', data-slide-to='2')
  .carousel-inner(role='listbox')
    .item.active
      img(src='img/freshFoods.jpg')
      .carousel-caption
        h1 Hello
        h1#output
        br
        // <button type ="button" class="btn bt-default">My Fake Button</button>
    // - End Active
    .item
      img(src='img/dinner.jpg')
    .item
      img(src='img/appetizer.jpg')
  // - start slider control
  a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
    span.sr-only Previous
  a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
    span.sr-only Next
// - End Slider
//always set images for recipes to 200 by 125 
.container.text-center
  h2 My Favourite Recipes
  .row
    .col-sm-4
      img#icon(src='img/food4.jpg')
      h4 Name: Strawberry Pancakes
      h5 Ingredients: Strawberries, Pancake batter...
      h5 Steps: 1.preheat pan 2. Mix batter...
    .col-sm-4
      img#icon(src='img/food5.jpg')
      h4 Name: Thai Springrolls
      h5 Ingredients: Ground beef, Lettuce...
      h5 Steps: 1.Cook ground beef 2. Season beef with salt...
    .col-sm-4
      img#icon(src='img/food6.jpg')
      h4 Name: New York style Nachos
      h5 Ingredients: Nacho chips, cheese, green olives...
      h5 Steps: 1.Layout nachos 2. cover in cheese and...
//
  <div class="container">
  <div class="row">
  <div class="col-md-6">
  <h4>Place Holder Name</h4>
  <p>
  Place Holder Paragraph
  </p>
  </div>
  <div class="col-md-6">
  <img src="img/bootstrap2.jpg" class="img-responsive">
  </div>
  </div>
  </div>
  <div class="container">
  <div class="row">
  <h4><a href="#hidden" data-toggle="collapse">Hidden Link</a></h4>
  <div id="hidden" class="collapse">
  <h4>Cool Things</h4>
  <p>
  Cool stuff
  </p>
  </div>
  </div>
  </div>
footer.container-fluid.text-center
  .row
    .col-sm-4
      h3 Contact the Creators
      h4 Address and Contact info here
    .col-sm-4
      h3 Connect
      a.fa.fa-facebook(href='#')
      a.fa.fa-linkedin(href='#')
    .col-sm-4
      img.icon(src='img/bunny.png')
