.navbar{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #0074D9;
  color: #FFF;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}
.navbar-brand{
  float:left;
  min-height: 55px;
  padding: 0 15px 5px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
  color: #FFF;
  background-color: #0074D9;
}
.navbar-inverse .navbar-nav li a{
  color:#D5D5D5;
}
.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.btn{
  font-size: 18px;
  color: #FFF;
  padding: 12px 22px;
  background-color:  #0074D9;
  border: 2px solid #FFF;
}
.container{
  margin: 4% auto;
}
#icon{
  max-width: 200px;
  margin: 1% auto;
}

footer{
  width:100%;
  background-color: #0074D9;
  padding: 5%;
  color: #FFF;
}

.fa{
  padding:15px;
  font-size: 25px;
  color: #FFF;
}
.fa:hover{
  color:#D5D5D5;
  text-decoration: none;
}
@media (max-width: 900px){
  .fa{
    font-size: 20px;
    padding: 10px;
  }
}
@media (max-width: 600px){
  .carousel-caption{
    display: none;
  }
  #icon{
    max-width: 150px;
  }
  h2{
    font-size: 1.7em;
  }
}

/* This is the css for login/signup html*/
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */
button {
    background-color: #0074D9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    height: 15%;
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 24px 0 12px 0;
    left: 0;
}

/* Avatar image */
.avatar {
    width: 100%;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
